<div class="container" style="padding-top: 5rem;">
    <div style="padding: 3rem 1.5rem; text-align: center;">
        <img src="img/blue-robot-hi.png" style="width: 200px">
        <br><br>
        <h1>A GitHub Bot</h1>
        <a class="text-muted" href="https://github.com/niranjan94">By @niranjan94</a><br>
        <p class="lead" style="margin-top: 8px;">Nothing to see here yet. Move on ;)</p>
    </div>
</div>